*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Code Pro', monospace;
}

div.cuerpo_login{
    background-image: url(../../img/fondo_login.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
}
div.login{
    display: flex;
    width: 40%;
    margin: 0 auto;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(248, 238, 238, 0.6);
}
div.login input,
div.login label{
    margin: 10px 0;
    font-style: normal;
    font-weight: bold  ;
}
div.login label{
    color: black    ;
    font-size: 30px;
}
div.login input{
    font-size: 24px;
    padding: 10px 0;
    font-weight: normal;
    text-align: center;
}